html {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.8em 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900);
  text-wrap: balance;
  scroll-margin-top: 8rem;
}

p {
  margin: 0 0 1rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

p a {
  color: var(--primary-color);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

a.p-button {
  text-decoration: none;
  line-height: normal;
}

a.p-button:hover {
  background: #4f46e5;
  color: #ffffff;
  border-color: #4f46e5;
}

.dark a.p-button:hover {
  background: #91a3fb;
  color: #1c2127;
  border-color: #91a3fb;
}

.p-menu {
  width: auto;
  min-width: min-content;
}

.p-menuitem-icon {
  flex-shrink: 0;
}

.p-tag.p-tag-rounded {
  min-width: 1.625rem;
}

.p-badge {
  font-size: 0.7rem;
  padding: 0 0.3rem;
  min-width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  pointer-events: none;
}

svg.lucide {
  min-width: min-content;
}
