html {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100%;
  scroll-behavior: smooth;
}